section#prefer{
    padding: 3rem 0 4rem 10rem;
    text-align: center;
    margin-bottom: 2rem;
}
.prefer__container{
    margin-top: 3rem;
    display:flex;
    height: 100%;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
}
/*============ MEDIA QUERIES (MEDIUM DEVICES) ============*/
@media screen and (max-width:1024px){
    section#prefer{
        padding-left: 0rem;
        padding-right: 2rem;
    }
    .prefer__container{
        width: 100%;
    }
}

/*============ MEDIA QUERIES (SMALL DEVICES) ============*/
/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width:600px){
    section#prefer{
        padding: 0;
    }
}

